* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
body {
  height: 100vh;
  width: 100wh;
  overflow-x: hidden;
}

.navbar {
  height: 60px;
  background-color: #131921;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-logo {
  height: 50px;
  width: 170px;
}
.logo {
  background-image: url("images/amazon_logo.jpg");
  height: 50px;
  width: 160px;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

/* address first and second */

.add-first {
  color: #cccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-second {
  color: #ffff;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3px;
}
.icon-address {
  display: flex;
  align-items: center;
}
.nav-search {
  display: flex;
  height: 40px;
  width: 620px;
  border-radius: 4px;
  justify-content: space-evenly;
}
.nav-search:hover {
  border: 2px solid orange;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}

.search-icon {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgba(230, 173, 51, 0.943);
  color: black;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sign-first {
  font-size: 0.85rem;
}

.sign-second {
  font-size: 1rem;
  font-weight: bold;
}

.return-first {
  font-size: 0.85rem;
}
.return-second {
  font-size: 1rem;
  font-weight: bold;
}

.nav-cart i {
  display: inline;
  font-size: 25px;
}

.nav-cart {
  font-size: 1rem;
  font-weight: bold;
}

.panel {
  height: 39px;
  background-color: #232f3e;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.ham-icon {
  color: white;
  font-size: 0.95rem;
  margin-left: 30px;
}

.panel-anchors p {
  color: white;
  display: inline;
  font-size: 0.95rem;
  margin-left: 15px;
}
.panel-anchors {
  width: 60%;
}
.prime-offer {
  height: 36px;
  width: 400px;
  border: none;
  background-image: url("images/prime.jpg");
}

.hero-section {
  height: 410px;
  width: 1600px;
  background-image: url("images/Toys.jpg");
  background-size: cover;
}

.shop-section {
  height: 950px;
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e2;
  flex-wrap: wrap;
}
/* 325 420 */
.box {
  height: 390px;
  width: 23%;
  background-color: rgb(241, 239, 239);
  font-size: 0.85rem;
  padding: 20px 0px 15px;
}

.box-one {
  height: 300px;
  background-image: url("images/T-shirts.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-two {
  height: 300px;
  background-image: url("images/Crockery.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-three {
  height: 300px;
  background-image: url("images/outdor.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-four {
  height: 300px;
  background-image: url("images/puppy.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-five {
  height: 300px;
  background-image: url("images/microwave.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-six {
  height: 300px;
  background-image: url("images/kurti.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-seven {
  height: 300px;
  background-image: url("images/indoor.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-eight {
  height: 270px;
  background-image: url("images/fitnessjpg.jpg");
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color: #007185;
}

.box2-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

.box-img-v1 {
  height: 100px;
  width: 100px;
  background-image: url("images/home decor1.jpg");
  background-size: cover;
}
.box-img-v2 {
  height: 100px;
  width: 100px;
  background-image: url("images/home decor2.jpg");
  background-size: cover;
}

.box-img-v3 {
  height: 100px;
  width: 100px;
  background-image: url("images/home decor3.jpg");
  background-size: cover;
}

.box-img-v4 {
  height: 100px;
  width: 100px;
  background-image: url("images/home decor4.jpg");
  background-size: cover;
}

.sign-in {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 0.8rem;
  border: 0.2px solid #969696;
  padding-top: 35px;
  padding-bottom: 35px;
}

button {
  background-color: rgba(230, 173, 51, 0.943);
  width: 230px;
  height: 30px;
  border: 2px solid rgb(255, 145, 0);
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
}

.new-customer {
  color: #007185;
}
.bottom-panel {
  height: 50px;
  background-color: #232f3e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
}

.bottom-panel2 {
  height: 400px;
  background-color: #0f2634;
  color: white;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: #dddddd;
}
ul {
  margin-top: 65px;
}

.bottom-panel2 p {
  font-weight: bold;
}
ul a {
  display: block;
  font-size: 0.95rem;
  margin-top: 20px;
}
.bottom-panel3 {
  height: 100px;
  background-color: #0f2634;
  color: #dddddd;
  border-top: 0.5px solid #969696;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lang-box {
  height: 30px;
  width: 80px;
  border: 0.2px solid #969696;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15px;
  border-radius: 2px;
  font-size: 0.8rem;
}

.countries {
  height: 70px;
  background-color: #0f2634;
  color: #dddddd;
}
.countries ul {
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 0px 30px;
  list-style-type: none;
}

.countries ul li {
  margin-left: 18px;
}

.bottom-panel4 {
  height: 100px;
  background-color: #131921;
  color: #dddddd;
  font-size: 0.8rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copyright {
  margin-top: 10px;
}
.pages a {
  margin-right: 10px;
}
